<div class="grid">
  <div class="unit whole">
    <div class="grid">
      <div class="content-header unit whole">
        <div class="grid">
          <div class="unit four-fifths"><div class="title">Bulk location upload complete</div></div>
          <div class="unit one-fifth"><div style="padding-top:40px"></div></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid">
  <div class="unit whole">
    <h3>Locations parsed: {{locations_parsed}}</h3>
    <h3>Errors: {{errors}}</h3>
    <h3>Success: {{successes}}</h3>
  </div>
</div>