{{#county}}
<div class="grid state-details">
  <div class="unit whole">
    <div class="grid">
      <div class="content-header unit whole">
        <div class="grid">
          <div class="unit four-fifths"><div class="title">State: {{StateFull}} - {{CountyName}} County</div></div>
          <div class="unit one-fifth"></div>
        </div>
      </div>
    </div>
    <form method="post" action="/{{State}}/county/{{CountyId}}">
      <div class="grid">
        <div class="unit whole">
          <label>County Clerk Information</label>
        </div>
      </div>
      <fieldset>
        <legend>Absentee Ballot</legend>
        <div class="grid">
          <div class="unit whole">
            <label>Official Office Name</label><br />
            <input class="election-input" type="text" value="{{clean OfficialOfficeName}}" name="OfficialOfficeName" />
          </div>
        </div>
        <div class="grid">
          <div class="unit half">
            <label>Phone</label><br />
            <input class="election-input" type="text" value="{{ClerkPhone}}" name="ClerkPhone" />
          </div>
          <div class="unit half">
            <label>Fax</label><br />
            <input class="election-input" type="text" value="{{ClerkFax}}" name="ClerkFax" />
          </div>
        </div>
        <div class="grid">
          <div class="unit whole">
            <label>Clerk Full Name</label><br />
            <input class="election-input" type="text" value="{{clean ClerkFullName}}" name="ClerkFullName" />
          </div>
        </div>
        <div class="grid">
          <div class="unit whole">
            <label>Address</label><br />
            <input class="election-input" type="text" value="{{clean ClerkAddress1}}" name="Address1" /><br />
            <input class="election-input" type="text" value="{{clean ClerkAddress2}}" name="Address2" />
          </div>
        </div>
        <div class="grid">
          <div class="unit half">
            <label>City</label><br />
            <input class="election-input" type="text" value="{{clean ClerkCity}}" name="City" />
          </div>
          <div class="unit one-quarter">
            <label>State</label><br />
            <select class="election-input" name="State"><option>{{State}}</option></select>
          </div>
          <div class="unit one-quarter">
            <label>Zip Code</label><br />
            <input class="election-input" type="text" value="{{ClerkZip}}" name="ZipCode" />
          </div>
        </div>
        <div class="grid">
          <div class="unit whole">
            <label>Clerk Email Address</label><br />
            <input class="election-input" type="text" value="{{ClerkEmailAddress}}" name="EmailAddress" />
          </div>
        </div>
      </fieldset>
      <br />
      <fieldset>
        <legend>Voter Registration</legend>
        <div class="grid">
          <div class="unit whole">
            <label>Same as Absentee</label>
            <input type="checkbox" name="SameAsAbsentee" />
          </div>
        </div>
        <div class="grid">
          <div class="unit whole">
            <label>Address</label><br />
            <input class="election-input" type="text" value="{{clean RegAddress1}}" name="RegAddress1" /><br />
            <input class="election-input" type="text" value="{{clean RegAddress2}}" name="RegAddress2" />
          </div>
        </div>
        <div class="grid">
          <div class="unit half">
            <label>City</label><br />
            <input class="election-input" type="text" value="{{clean RegCity}}" name="RegCity" />
          </div>
          <div class="unit one-quarter">
            <label>State</label><br />
            <select class="election-input" name="RegState"><option>{{State}}</option></select>
          </div>
          <div class="unit one-quarter">
            <label>Zip Code</label><br />
            <input class="election-input" type="text" value="{{RegZip}}" name="RegZip" />
          </div>
        </div>
        <div class="grid">
          <div class="unit whole">
            <label>Clerk Email Address</label><br />
            <input class="election-input" type="text" value="{{RegEmailAddress}}" name="RegEmailAddress" />
          </div>
        </div>
      </fieldset>
      <div class="grid">
        <div class="unit whole">
          <button type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
$(function(){
  isMatch();
  $("input[name=SameAsAbsentee]").change(function(){
    if (this.checked) {
      $("input[name=RegAddress1]").val("{{clean ClerkAddress1}}");
      $("input[name=RegAddress2]").val("{{clean ClerkAddress2}}");
      $("input[name=RegCity]").val("{{clean ClerkCity}}");
      $("input[name=RegZip]").val("{{ClerkZip}}");
      $("input[name=RegEmailAddress]").val("{{ClerkEmailAddress}}");
    } else {
      $("input[name=RegAddress1]").val("{{clean RegAddress1}}");
      $("input[name=RegAddress2]").val("{{clean RegAddress2}}");
      $("input[name=RegCity]").val("{{clean RegCity}}");
      $("input[name=RegZip]").val("{{RegZip}}");
      $("input[name=RegEmailAddress]").val("{{RegEmailAddress}}");
    }
  });
  
  function isMatch() {
    if ("{{clean ClerkAddress1}}" == "{{clean RegAddress1}}" &&
        "{{clean ClerkAddress2}}" == "{{clean RegAddress2}}" &&
        "{{clean ClerkCity}}" == "{{clean RegCity}}" &&
        "{{ClerkZip}}" == "{{RegZip}}" &&
        "{{ClerkEmailAddress}}" == "{{RegEmailAddress}}") {
      $("input[name=SameAsAbsentee]").prop("checked",true);
    } else {
      $("input[name=SameAsAbsentee]").prop("checked",false);
    }
  }
});
</script>
{{/county}}