<div class="grid">
  <div class="unit whole">
    <div class="grid">
      <div class="content-header unit whole">
        <div class="grid">
          <div class="unit four-fifths"><div class="title">Bulk municipality upload</div></div>
          <div class="unit one-fifth"><div style="padding-top:40px"></div></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid">
  <div class="unit whole">
    <form method="post" action="/{{stateId}}/county/{{countyId}}/municipalities/upload" enctype="multipart/form-data">
      <label>Municipalities CSV: </label><input type="file" name="municipalities" /><br /><br />
      <button type="submit">Process</button>
    </form>
  </div>
</div>