<div class="grid states">
  <div class="unit whole">
    <div class="grid">
      <div class="content-header unit whole">
        <div class="grid">
          <div class="unit four-fifths"><div class="title">States</div></div>
          <div class="unit one-fifth"></div>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="unit whole">
        <table>
          <thead>
            <tr>
              <th>State</th>
              <th>Abbr.</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody>
            {{#states}}
            <tr><td>{{StateFull}}</td><td>{{State}}</td><td><a href="/{{State}}">edit</a></td></tr>
            {{/states}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
