{{#state}}<div class="grid state-details">
  <div class="unit whole">
    <div class="grid">
      <div class="content-header unit whole">
        <div class="grid">
          <div class="unit four-fifths"><div class="title">{{StateFull}}: Voter file download</div></div>
          <div class="unit one-fifth"></div>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="unit whole">
        <a href="{{download_link}}">Download Voter File</a>
      </div>
    </div>
  </div>
</div>{{/state}}